.sectionOne{
    width: 100%;
    border-bottom: solid 1px #ccc;
    display: flex;
    padding: 20px;
}

.sectionOneCont{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.sectionOneCont section{
    margin: auto;
    padding-right: 20px;
    margin-bottom: 10px;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

h1{
    margin: auto;
    text-decoration: underline #3a83b4;
    padding: 60px;
    font-size: clamp( 3em, 3vw, 5em);
    text-wrap: pretty;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
}

h2{
    margin: auto;
    text-decoration: underline #3a83b4;
    padding: 60px;
    font-size: clamp( 3em, 3vw, 5em);
    text-wrap: pretty;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
}

.subOne{
    margin: auto;
    padding: 60px;
    font-size: clamp( 2.2em, 3vw, 4.2em);
    text-wrap: pretty;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
}

.sectionOneCont section p{
    font-size: clamp( 1.4em, 3.2vw, 1.8em);
    text-wrap: pretty;
}

.sectionOneCont aside{
    margin: auto;
    min-width: 300px;
    width: 50%;
}

.sectionOneCont aside img{
    width: 100%;
    border-radius: 40px;

}

.sectionTwo{
    width: 100%;
    border-bottom: solid 1px #ccc;
    display: flex;
    padding: 20px;
}

.sectionTrhee{
    width: 100%;
    border-bottom: solid 1px #ccc;
    display: flex;
    padding: 20px;
}

.mvvList{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.mvvListItems{
    margin: auto;
    width: 33.3%;
    display: flex;
    min-width: 300px;
}

.mvvListItems h3{
    margin: auto;
    padding: 10px;
    font-size: clamp( 2.5em, 3vw, 3.5em);
    text-wrap: pretty;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
}

.mvvListItems p{
    padding: 20px;
    font-size: clamp( 1.2em, 3.2vw, 1.4em);
    text-wrap: pretty;
}

@media (max-width: 1000px) {
    .sectionOneCont{
        width: 100%;
        flex-direction: column-reverse;
    }

    .sectionOneCont section{
    padding-right: 0;
}
    h1 {
        margin: auto;
        padding: 0;
        padding-bottom: 60px;
        padding-top: 60px;
    }


    h2 {
        margin: auto;
        padding: 0;
        padding-bottom: 60px;
        padding-top: 60px;
    }
}